<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input value=identification placeholder='Email'}}
  <label for="password">Password</label>
  {{input value=password placeholder='Password' type='password'}}
  <button type="submit">Login</button>
</form>